In [21]:
import pandas as pd
import numpy as np

In [22]:
ml_csv = r"/Users/micha/git/training/ratings_2.csv"

In [23]:
df = pd.read_csv(ml_csv)
df.head()

   userId  movieId  rating  timestamp
0     196      242       3  881250949
1     186      302       3  891717742
2      22      377       1  878887116
3     244       51       2  880606923
4     166      346       1  886397596

In [24]:
tables = {
    'movielens': df
}

In [26]:
metadata = {
    "tables": [
        {
            "fields": [
                               
                {
                    "name": "userId",
                    "type": "numerical",
                    "subtype": "integer",
                },
                {
                    "name": "movieId",
                    "type": "numerical",
                    "subtype": "integer",
        
                },
                {
                    "name": "rating",
                    "type": "numerical",
                    "subtype": "integer",
                },
                
                {
                    "name": "timestamp",
                    "type": "numerical",
                    "subtype": "integer",
                },
            ],
            "name": "movielens",
        }
    ]
}

In [27]:
from sdv import SDV

sdv = SDV()
sdv.fit(metadata, tables)

In [28]:
sampled = sdv.sample('movielens', num_rows=len(df))
sampled['movielens']

       userId  movieId  rating  timestamp
0         189      207       3  873002657
1         504      638       5  890051168
2         383     1234       2  882382938
3         548      300       3  885840792
4         421      611       2  894497828
5         200      194       4  882422076
6         466      -25       4  878567093
7         292      270       3  887499699
8          51       98       5  867452764
9         616      459       4  879577070
10        153      480       4  881347654
11        479      214       3  898509077
12        166      254       4  875755825
13        901      208       3  883289774
14        623       65       4  882734795
15        670     1122       2  880652611
16        238     -100       4  881985670
17       -115      454       2  883917086
18        458      781       3  878821875
19        559      475       2  878386108
20        175      586       4  893380218
21        305      121       1  888001567
22        497      748       2  882821635
23       1093      390       3  879389402
24        249      741       3  888729658
25        695      738       5  880409912
26        440     -107       4  891824695
27        471      799       2  888516482
28        627      378       5  879032209
29        213      -67       5  881062805
...       ...      ...     ...        ...
99970     434      142       3  890703857
99971     505      371       4  880152871
99972      82      689       1  878025454
99973     767      681       2  877210129
99974     549       45       2  883477877
99975      19      662       2  885402465
99976     792      503       4  886917734
99977     912      251       4  887119550
99978    -154      465       3  877990883
99979     108      -99       4  889303860
99980     359     -136       4  882828699
99981     396      603       2  899369159
99982     557      478       2  882021888
99983     313      819       1  883167344
99984     925      661       3  899858081
99985     606      357       5  885863766
99986     331      219       3  888046043
99987     497      403       3  884611302
99988     556      735       2  886941309
99989     770      500       4  875272554
99990       4      198       5  894297800
99991     856      349       5  885625030
99992     822     -132       4  891063005
99993     174      381       4  889064070
99994     204       24       2  887784153
99995     828      -61       4  890403286
99996     827      138       2  884639069
99997     706      783       4  879740145
99998     272       92       4  875078978
99999     220      798       2  883416609

[100000 rows x 4 columns]

In [29]:
from sdv.evaluation import evaluate

samples = sdv.sample_all(len(tables['movielens']))

evaluate(samples, real=tables, metadata=sdv.metadata)

            mse  r2_score         rmse
0  1.317046e+07       1.0  3629.113076